.App {
  display: flex;
  height: 100vh;
}

.leftSide {
  background-color: blue;
  color: white;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rightSide {
  width: 66.67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authForm {
  margin: 20px;
}

.authForm input,
.authForm button {
  display: block;
  margin: 10px 0;
}

/*api page*/
.apiPage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.inputSection, .outputSection {
  flex: 1;
  margin: 10px;
}
